* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 5rem;
}
.book-holder {
  border: 2px solid #fff;
  height: auto;
  width: 100%;
  margin: auto;
}
.dynamic-container {
  display: flex;
  justify-content: space-between;
}

.odd {
  background-color: #ddd;
}

.even {
  background-color: #fff;
}


.author-paragraph {
  display: flex;
  gap: 2px;
}

.dynamic-button {
  float: right;
  padding: 5px;
}

hr {
  width: 80px;
  align-items: center;
  border: 1px solid #ddd;
  margin: auto;
}

.first-section {
  height: auto;
}


.awesome-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: auto;
  padding: 2%;
}

.title {
  margin-bottom: 20px;
  font-size: larger;
}

input {
  width: 100%;
  margin: auto;
}

#add-button {
  width: 20%;
  align-self: flex-end;
  margin-top: -20px;
}